/* Global Settings */
body {
  background-color: #202020;
  color: #ffffff;
  font-size: 16px;
}
/* Colors */
/* Text */
/* forms buttons etc */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background-color: #2030ff;
}
/* variants for forms buttons etc*/
.container {
  max-width: 90%;
  margin: auto;
}
.visible {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.block {
  display: block !important;
}
.block .collapsable {
  overflow: hidden;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  opacity: 0;
  max-height: 0;
}
.block.visible .collapsable {
  opacity: 1;
  max-height: 50px;
}
.accordeon {
  display: block !important;
}
.accordeon .collapsable {
  overflow: hidden;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  opacity: 0;
  max-height: 0;
}
.accordeon.visible .collapsable {
  opacity: 1;
  max-height: 100px;
}
main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1%;
  margin-bottom: 5%;
  /*underline on hover*/
}
main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0%;
  margin-bottom: 0%;
}
main nav a {
  color: #ffffff;
  text-decoration: none;
}
main nav a:hover {
  color: #ffffff;
}
main nav .navbarTitle {
  font-size: 1.2rem;
}
main nav .auth {
  height: 30px;
}
main nav a {
  position: relative;
}
main nav a::before {
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}
main nav a::after {
  content: '';
  display: block;
  width: 60%;
  height: 2px;
  border-radius: 16px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  background-color: #c4c4c4;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
main nav a:hover::after,
main nav a.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
main .accordeons .button {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
}
main .accordeons .button .bx {
  position: absolute;
  right: 10px;
}
main .accordeons .accordeon {
  width: 60%;
  margin: auto;
}
main .tabs h1 {
  font-size: 40px;
  font-weight: 800;
}
main .tabs .tab {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: none;
}
main .buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 2px 4px;
  border-radius: 4px;
  border: 0.5px solid #808080;
  margin-bottom: 10px;
}
main .buttons .button {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .pop-up_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
main .pop-up {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
main .pop-up_content {
  position: absolute;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #101010;
  border-radius: 14px;
}
main .pop-up_header {
  padding: 4% 6%;
  border-bottom: 1px solid #808080;
}
main .pop-up_header h1 {
  font-size: 32px;
  font-weight: 700;
}
main .pop-up_header .bx {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 5px;
  font-size: 24px;
}
main .pop-up_body {
  padding: 4% 6%;
}
